*{
    box-sizing: border-box;
}
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
}
body {
    margin: 0;
    background-color: #f5f6f7;
    font-family: sans-serif;
}
.header {
    text-align: center;
    text-transform: uppercase;
    background-color: #0a0a23;
    padding: 32px;
    color:#fff;
    border-bottom: 4px solid #fdb347;
}